{% extends "default.html" %}

{% block title %} Página no encontrada {% endblock %}

{% block schema %}
{% endblock %}



{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            
            <article>
                <h1>
                    <span>404. </span>Página no encontrada
                    <small>(Qué embarazoso)</small>
                </h1>
            
            
                <p>
                    Es posible que este contenido existiese previamente, pero ahora mismo no está accesible
                    o bien que hayas escrito con alguna falta de ortografía
                </p>
                
                <p>
                    Por favor, siéntete libre de usar nuestro buscador para ayudarte a encontrar lo que estabas buscando
                </p>
                
                
      
            </article>
        </div>
    </div>    
</div>    
{% endblock %}